@import '~@fluentui/react/dist/sass/References.scss';
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

.sol1 {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
.header {
  background-color: #3498db; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center; /* Center the text */
}

.header h1 {
  font-size: 24px; /* Set your desired font size for the header title */
}

.header p {
  font-size: 14px; /* Set your desired font size for additional content */
}